<ion-content>
  <div class="overlay"></div> <!-- Capa semitransparente sobre la imagen de fondo -->
  
  <div class="main-container">
    <div class="header-container">
      <h1>Bienvenido a POTENCIA</h1>
      <p>La plataforma ideal para estudiantes de todas las edades. Únete a más de 5,000 estudiantes y transforma tu experiencia de aprendizaje.</p>
    </div>
    
    <div class="search-container">
      <ion-input placeholder="¿Qué quieres aprender?"></ion-input>
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
        Buscar
      </ion-button>
    </div>
    
    <h2 style="color: #00aaff;">Cursos Destacados</h2>
    <div class="courses-container">
      <div class="course-card">
        <h2>Desarrollo Web</h2>
        <p>Aprende a construir sitios web interactivos.</p>
        <ion-button>EXPLORAR</ion-button>
      </div>
      <div class="course-card">
        <h2>Ciberseguridad</h2>
        <p>Protege datos y privacidad en la red.</p>
        <ion-button>EXPLORAR</ion-button>
      </div>
      <div class="course-card">
        <h2>Data Science</h2>
        <p>Extrae insights de datos complejos.</p>
        <ion-button>EXPLORAR</ion-button>
      </div>
      <div class="course-card">
        <h2>Transformación Digital</h2>
        <p>Adaptación al entorno digital.</p>
        <ion-button>EXPLORAR</ion-button>
      </div>
    </div>

    <div class="free-courses-container">
      <ion-button routerLink="/cursos-gratis">Acceder a Cursos Gratuitos</ion-button>
    </div>
  </div>
</ion-content>
